<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img [ngStyle]="{'margin-left':'7px'}" src="assets/img/logo/Star-Wars.png" alt="" width="50" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['home']" ><i class="fas fa-home" ></i>Inicio</a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['personajes']" ><i class="fas fa-users"></i>Personajes</a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" [routerLink]="['planetas']"><i class="fas fa-globe-americas"></i>Planetas</a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" [routerLink]="['naves']"><i class="fas fa-rocket"></i>Naves</a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" [routerLink]="['vehiculos']"><i class="fas fa-car"></i>Vehiculos</a>
          </li>     
        </ul>  
  
      </div>
    </div>
  </nav>
