<!-----------------Tarjeta con datos de nave-------------------------------->

<div class="card mb-3 mt-2" style="max-width: 540px; margin-left: 10px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [ngStyle]="{'width':'179px', 'height':'244px'}" src="{{nave.url_images}}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{nave.name}}</h5>
          <p class="card-text">Modelo: {{nave.model}}</p>
          <p class="card-text">Clase: {{nave.starship_class}}</p>
          <p class="card-text">Cantidad de pasajeros permitidos: {{nave.passengers}}</p>
          <p class="card-text">Velocidad: {{nave.max_atmosphering_speed}}</p>
          <p class="card-text">Capacidad de peso: {{nave.cargo_capacity}}</p>
          <p class="card-text">Longuitud: {{nave.length}}</p>
          <p class="card-text">Clase de hiperimpulsor : {{nave.hyperdrive_rating}}</p>
        </div>
      </div>
    </div>
  </div>

<!--------Boton para regresar a pagina de naves---------------------------->
<button type="button" class="btn btn-outline-primary " [ngStyle]="{'margin-left':'10px', 'width':'179px'}" [routerLink]="['/naves']">Regresar</button>


